@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@600&display=swap');
.header{
  background-color: #33658A;
  height: 90px;
  display: flex;
}

.header h1{
  color: white;
  padding-left: 80px;
  text-align: center;
  align-items: center;
  font-family: 'Piazzolla', serif;
}

h2{
  font-family: 'Piazzolla', serif;
  padding-left: 80px;
}

.signup{
  position: absolute;
  align-items: center;
  width: 500px;
  height: 530px;
  left: 464px;
  top: 180px;

  background: rgba(92, 164, 169, 0.71);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
