@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@600&display=swap');
body{
    background-color: #e3e1e1;
    overflow-x: hidden;
}

.welcome{
    position: absolute;
    width: 100%;
    height: 90px;
    left: 0px;
    top: 0px;

    background-color: #33658A;
}

.welcome h1{
    color: white;
    padding-left: 80px;
    font-family: 'Piazzolla', serif;
}

h2{
    font-family: 'Piazzolla', serif;
    padding-top: 100px;
    text-align: center;
}

.signup{
    position: absolute;
    align-items: center;
    width: 500px;
    height: 530px;
    left: 470px;
    top: 180px;

    background: rgba(92, 164, 169, 0.71);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.signup h3{
    font-family: 'Piazzolla', serif;
    color: white;
    text-align: center;
    font-size: 30px;    
}

.form1{
    top: 100px;
    position: absolute;
    width: 300px;
    transition: .5s;
    left: 93px;
    align-items: center;
    border-bottom: 1px solid white;
    padding-left: 30px;
    /* border: 1px solid black; */
}

.form2{
    top: 170px;
    position: absolute;
    width: 300px;
    transition: .5s;
    left: 90px;
    border-bottom: 1px solid white;
    padding-left: 30px;
}

.form3{
    top: 240px;
    position: absolute;
    width: 300px;
    transition: .5s;
    left: 90px;
    border-bottom: 1px solid white;
    padding-left: 30px;
}

.form4{
    top: 310px;
    position: absolute;
    width: 300px;
    transition: .5s;
    left: 90px;
    border-bottom: 1px solid white;
    padding-left: 30px;
}

.form5{
    position: absolute;
    width: 300px;
    height: 70px;
    left: 120px;
    top: 390px;
}

.input-field{
    width: 90%;
    overflow: hidden;
    font-size: 18px;
    padding: 8px 0;
    margin: 8px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    outline: none;
    background: transparent;
    font-family: 'Piazzolla', serif;
}

.btn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 20px;
    cursor: pointer;
    display: flex;
    margin: auto;
    background: #33658A;
    border: 0;
    outline: none;
    border-radius: 0px 5px;
    width: 60%;
    font-family: 'Piazzolla', serif;
    font-size: 24px;
    color: white;
    text-align: center;
}

a{
    font-family: 'Piazzolla', serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

p{
    font-family: 'Piazzolla', serif;
    font-size: 20px;
    color: white;
    left: 120px;
    padding-top: 350px;
    text-align: center;
}

.login{
    position: absolute;
    align-items: center;
    width: 400px;
    height: 430px;
    left: 520px;
    top: 180px;

    background: rgba(92, 164, 169, 0.71);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.login h3{
    font-family: 'Piazzolla', serif;
    color: white;
    text-align: center;
    font-size: 30px; 
}

.form6{
    top: 100px;
    position: absolute;
    width: 240px;
    transition: .5s;
    left: 73px;
    align-items: center;
    border-bottom: 1px solid white;
    padding-left: 20px;
}

.form7{
    top: 170px;
    position: absolute;
    width: 240px;
    transition: .5s;
    left: 70px;
    border-bottom: 1px solid white;
    padding-left: 20px;
}

.form8{
    top: 270px;
    position: absolute;
    width: 300px;
    height: 70px;
    left: 60px;
}

.btn1{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 55px;
    padding-right: 10px;
    cursor: pointer;
    display: flex;
    margin: auto;
    background: #33658A;
    border: 0;
    outline: none;
    border-radius: 0px 5px;
    width: 60%;
    font-family: 'Piazzolla', serif;
    font-size: 24px;
    color: white;
    text-align: center;
}

.navbar{
    height: 1024px;
    width: 260px;
    display: flex;
    position: fixed;
    z-index: 10;
    background: #2B2D42;
    left: 0px;
    top: 90px;

    background: rgba(92, 164, 169, 0.71);
}

.sidebar{
    display: block;
    list-style: none;
    width: 90vw;
    padding-top: 15vw;
    align-items: center;
}

.sidebar i{
    padding: 20px;
}

.sidebar a{
    color: white;
    font-size: 20px;
}

.search_div .search{
    top: 20px;
    left: 300px;
    width: 650px;
    height: 40px;
    background-color: #e3e1e1;
    border-radius: 10px;
    position: fixed;
    font-family: 'Piazzolla', serif;
    color: black;
    font-size: 18px;
    border-style: none;
}

.submit{
    top: 20px;
    position: absolute;
    left: 904px;
    height: 40px;
    background-color: #e3e1e1;
    width: 40px;
    border-style: none;
    cursor: pointer;
}

.feeds{
    position: absolute;
    width: 900px;
    height: 560px;
    left: 360px;
    top: 120px;

    background: rgba(255, 255, 255, 0.77);
    border-radius: 25px;
}

.edit_prof{
    position: absolute;
    width: 700px;
    height: 590px;
    top: 120px;
    left: 500px;
    background: rgba(255, 255, 255, 0.77);
    border-radius: 25px;

}

.edit_prof h1{
    text-align: center;
    font-family: 'Piazzolla',serif;
    font-size: 32px;
    padding-bottom: 10px;
    border-bottom-style: groove;
}

div{
    margin-bottom: 50px;
}

label{
    font-family: 'Piazzolla',serif;
    font-size: 20px;
    float: left;
    padding-left: 50px;
    display: block;
    width: 140px;
}

span{
    display: block;
    overflow: hidden;
    padding: 5px 4px 0px 50px;
}

input{
    width: 70%;
    outline: none;
    border-radius: 5px;
    font-family: 'Piazzolla',serif;
    font-size: 14px;
}

.submit_btn{
    width: 100px;
    background: rgba(92, 164, 169, 0.71);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Piazzolla',serif;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
}